doctype html
html.
    <head>
        <title>Snake</title>  
        </head>
        

    <body>
    <canvas id='myCanvas' width='800' height='500'></canvas>
    <style>
        canvas {
            border: 1px solid black;
            padding-left: 0;
            padding-right: 0;
            margin-left: auto;
            margin-right: auto;
            display: block;
            top: auto;
        }
        </style>
        </body>
        <script type="text/javascript" src="/javascripts/jquery-1.11.3.min.js"></script>    
        <script type="text/javascript" src="/javascripts/snake.js"></script>